.panel-content {
    padding: 24px;

    .md-inputfield,
    .md-dropboxfield {
        margin-top: 10px;

        @media (min-width: map-get($breakpoints, 'md')) {
            margin-top: 0;
        }
    }

    .ui-tree-horizontal {
        margin-left: -19px;
        margin-right: -19px;
        padding-left: 19px;
        padding-right: 19px;
    }
}
