<div class="g">
    <div style="min-width: 100%;">
        <div class="ui-g-12">
            <p><b>Puede escoger su archivo mediante el desplegable.</b></p>
        </div>
    </div>
    <div style="min-width: 100%;">
        <div class="ui-g-8">
            <p-tree [value]="remoteFsys" selectionMode="single"
                    [(selection)]="selectedNode"
                    [style]="{'height':'45vh', 'width':'100%;'}"
                    *ngIf="remoteFsys != null"
                    (onNodeSelect)="nodeSelect(e)">
            </p-tree>
        </div>
        <div class="ui-g-4 center hiddencontrols">
            <p-orderList [value]="selectedNode?.children"
                         [responsive]="true"
                         [listStyle]="{'height':'45vh'}"
                         dragdrop="false"
                         (onSelectionChange)="selectElement($event)"
                         *ngIf="selectedNode?.children != null && selectedNode?.children?.length > 0">
                <ng-template let-elemento pTemplate="item">
                    <div class="ui-helper-clearfix">
                        <div class="ui-g">
                            <div class="ui-g-12">
                                <img src="{{url + '/' + elemento.data.url}}" *ngIf="elemento?.data?.url && elemento?.data?.subtype == 'image'"
                                     style="max-width: 200px;">
                                <div class="img-video marketing-img center" *ngIf="elemento?.data?.url && elemento?.data?.subtype == 'video'"
                                     style="max-width: 200px;"></div>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </p-orderList>
            <div class="ui-widget-content ui-orderlist-list ui-corner-bottom" *ngIf="selectedNode?.children?.length == 0 && selectedNode?.data?.type == 'file'" style="height: 45vh;">
                <div id="imgSelectable" (click)="selectedThis($event)" *ngIf="selectedNode?.data?.subtype == 'image'">
                    <img src="{{url}}" style="max-width: 200px;padding: 1.625em 0.875em;">
                </div>
                <div id="videoSelectable" style="padding: 1.625em 0.875em;" (click)="selectedThis($event)" *ngIf="selectedNode?.data?.subtype == 'video'">
                    <div class="img-video marketing-img center"></div>
                </div>
            </div>
        </div>
    </div>
</div>