<div class="remarks">
    <p-growl [value]="msgsDialog" [sticky]="true"></p-growl>
    <div class="ui-row-fluid" *ngIf="!working && columnas.length > 0">
        <div class="ui-col-fluid" [ngClass]="displayEdicion ? 'ui-col-fluid-sm-6' : 'ui-col-fluid-sm-12'">
            <p-dataTable [value]="elementos" selectionMode="single" [(selection)]="selectedRow" (onRowSelect)="onRowSelect()"
                (onRowUnselect)="closeDialog()" [rowStyleClass]="thinline" [rows]="10" [paginator]="true" [pageLinks]="4"
                [rowsPerPageOptions]="[10,20,50]" csvSeparator=";" exportFilename="table_export" #dt [immutable]="false"
                [responsive]="true">
                <p-header>
                    <div class="ui-row-fluid text-left">
                        <div class="ui-col-fluid ui-col-fluid-12 subtitle">Mantenimiento de tabla {{tableLabel}}</div>
                    </div>
                    <div class="ui-row-fluid text-right">
                        <div class="ui-col-fluid ui-col-fluid-12">
                            <button type="button" label="Añadir" pButton (click)="onDialogAdd()" icon="fa-plus"
                                [(disabled)]="lockFields" *ngIf="canAdd" aria-disabled="false">
                            </button>
                        </div>
                    </div>
                </p-header>
                <p-column *ngFor="let col of columnasTabla" [field]="col.fieldMetadata.fieldName" [header]="col.fieldMetadata.displayInfo.fieldLabel"
                    [filter]="true" filterMatchMode="contains" [styleClass]="col.fieldMetadata.lengthInTable <=5 ? 'colsmall' : col.fieldMetadata.lengthInTable >= 20 ? 'colbig': 'colmedium'"
                    [sortable]="true">
                </p-column>
                <p-footer>
                    <div class="ui-row-fluid">
                        <div class="ui-col-fluid ui-col-fluid-12">
                            <button type="button" pButton icon="fa-download" class="full-width" (click)="dt.exportCSV()"
                                label="Exportar a CSV"></button>
                        </div>
                    </div>
                </p-footer>
            </p-dataTable>
        </div>
        <div class="ui-col-fluid ui-col-fluid-sm-6 remarks-edit" [ngClass]="displayEdicion ? 'visible' : ''">
            <div class="ui-row-fluid">
                <div class="ui-col-fluid ui-col-fluid-12 subtitle">Edición - {{tableLabel}}</div>
                <ng-container *ngIf="!formControl.edicionAdd || !col.fieldMetadata.hideInAddOperation">
                    <div *ngFor="let col of columnas" class="ui-col-fluid ui-col-fluid-12 edit-field">
                        <div *ngFor="let msg of col.fieldMsgs" class="ui-messages-error">
                            <i class="fa fa-close"></i>&nbsp;{{msg.detail}}
                        </div>
                        <span class="md-inputfield">
                            <label class="material-label">{{col.fieldMetadata.displayInfo.fieldLabel}} <span *ngIf="col.fieldMetadata.id || col.fieldMetadata.notNull">*</span></label>
                            <gp-form-time-field *ngIf="col.formFieldType == 'gp-form-time-field'" [formField]="col"></gp-form-time-field>
                            <gp-form-text-field *ngIf="col.formFieldType == 'gp-form-text-field'" [formField]="col"></gp-form-text-field>
                            <gp-form-textarea-field *ngIf="col.formFieldType == 'gp-form-textarea-field'" [formField]="col"></gp-form-textarea-field>
                            <gp-form-dropdown-field *ngIf="col.formFieldType == 'gp-form-dropdown-field'" [formField]="col"
                                (valueChanged)="changeEvent($event)"></gp-form-dropdown-field>
                            <gp-form-dropdown-related-field *ngIf="col.formFieldType == 'gp-form-dropdown-related-field'"
                                [formField]="col" [relatedField]="fieldChanged"></gp-form-dropdown-related-field>
                            <gp-form-switch-field *ngIf="col.formFieldType == 'gp-form-switch-field'" [formField]="col"></gp-form-switch-field>
                            <gp-form-checkbox-field *ngIf="col.formFieldType == 'gp-form-checkbox-field'" [formField]="col"></gp-form-checkbox-field>
                            <gp-form-calendar-field *ngIf="col.formFieldType == 'gp-form-calendar-field'" [formField]="col"></gp-form-calendar-field>
                            <gp-form-wysiwyg-field *ngIf="col.formFieldType == 'gp-form-wysiwyg-field'" [formField]="col"></gp-form-wysiwyg-field>
                            <gp-form-img-field *ngIf="col.formFieldType == 'gp-form-img-field'" [formField]="col"></gp-form-img-field>
                        </span>
                    </div>
                </ng-container>
                <div class="ui-col-fluid ui-col-fluid-12">
                    * Campos obligatorios.
                </div>
            </div>
            <div class="ui-button-group-wide text-right">
                <button type="button" label="Cerrar" pButton (click)="closeDialog()" class="ui-button-danger ui-button-text-icon-left"
                    icon="fa-times" [(disabled)]="lockFields" aria-disabled="false">
                </button>
                <button type="button" label="Borrar" pButton (click)="onDialogDelete()" class="ui-button-danger ui-button-text-icon-left"
                    [(disabled)]="lockFields" icon="fa-times" aria-disabled="false">
                </button>
                <button type="button" label="Guardar" pButton (click)="onDialogSave()" class="ui-button-text-icon-left"
                    icon="fa-check" [(disabled)]="lockFields" aria-disabled="false">
                </button>
            </div>
        </div>
    </div>
    <div *ngIf="working">
        <gp-app-loading-indicator></gp-app-loading-indicator>
    </div>
</div>