body .ui-inputtext {
    font-size: 1.2em;
}

body .formulario-maestro .ui-outputlabel {
    position: relative;
    top: 10px;
}

body .ui-dropdown .ui-dropdown-label.ui-inputtext {
    position: relative;
    top: -2px;
}

.ui-grid-row:after {
    height: 5px;
}

.form-group .ui-grid-row {
    margin-bottom:  10px;     
}


body .md-inputfield .ui-message.ui-messages-error{
    margin-left: 5px !important;
    font-size: 1em !important;
}


@element ' .ui-fluid ' and (max-width: 1000px) {
    
    .mantenimientos .ui-button[label="Añadir"]{
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;
        padding-left: 2.0em !important;
        margin-left: 25px;
        width: 50%;
    }

    .mantenimientos .ui-button[label="Exportar a CSV"]{
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;
        padding-left: 2.0em !important;
        width: 50%;
    }
}


@element ' .ui-fluid ' and  ( min-width: 1001px ) and (max-width: 1300px) {
    
    .mantenimientos .ui-button[label="Añadir"]{
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;
        padding-left: 2.1em !important;
        margin-left: 40px;
        width: 50%;
    }

    .mantenimientos .ui-button[label="Exportar a CSV"]{
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;
        padding-left: 2.0em !important;
        margin-left: -18px;
        width: 50%;
    }
}

.msgErrorBottom{
    background-color: transparent;
    border: 0 none;
    margin: 0px;
    color: #e62a10;
    font-size: 1em !important
}