<p-growl [value]="msgsDialog" [sticky]="true"></p-growl>
<div class="ui-g" *ngIf="!working && columnas.length > 0">
  <div class="ui-g-6">
    <div class="card card-w-title">
      <p-dataTable
        [value]="elementos"
        selectionMode="single"
        [(selection)]="selectedRow"
        (onRowSelect)="onRowSelect($event)"
        (onRowUnselect)="onRowUnselect($event)"
        [rowStyleClass]="thinline"
        [rows]="cantRows"
        [paginator]="true"
        [pageLinks]="4"
        [rowsPerPageOptions]="[10, 20, 50]"
        [resizableColumns]="true"
        csvSeparator=";"
        exportFilename="table_export"
        #dt
        [immutable]="false"
        [responsive]="true"
      >
        <p-header>
          <div class="ui-helper-clearfix ui-grid-row" style="text-align: left;">
            <div class="ui-grid-col-10">Mantenimiento de tabla {{ tableLabel }}</div>
            <div class="ui-grid-col-2 mantenimientos">
              <button
                *ngIf="canAdd"
                type="button"
                label="Añadir"
                pButton
                class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-left White Wid30 Fs18 RaisedButton cyan-btn"
                icon="material-icons ui-icon-add"
                pTooltip="Añadir nuevo {{ tableLabel }}"
                aria-disabled="false"
                [(disabled)]="lockFields"
                (click)="onDialogAdd()"
              ></button>
            </div>
          </div>
        </p-header>
        <!-- *ngIf="!col.fieldMetadata.hideInAddOperation" -->
        <div *ngFor="let col of columnasTabla">
          <p-column
            *ngIf="checkExcludeFieldsTable(col, 'MASTER')"
            [field]="col.fieldMetadata.fieldName"
            [header]="col.fieldMetadata.displayInfo.fieldLabel"
            [filter]="true"
            filterMatchMode="contains"
            [hidden]="col.fieldMetadata.hideInAddOperation"
            [styleClass]="col.fieldMetadata.lengthInTable <= 5 ? 'colsmall' : col.fieldMetadata.lengthInTable >= 20 ? 'colbig' : 'colmedium'"
            [sortable]="true"
          >
          </p-column>
        </div>

        <p-footer>
          <div class="ui-g">
            <div class="ui-g-12 ui-md-2 mantenimientos">
              <button
                type="button"
                pButton
                icon="material-icons ui-icon-file-download"
                (click)="dt.exportCSV()"
                label="Exportar a CSV"
                *ngIf="canExport"
                pTooltip="Exportar a CSV el {{ tableLabel }}"
              ></button>
            </div>
          </div>
        </p-footer>
      </p-dataTable>
    </div>
  </div>
  <div class="ui-g-6 form-group formulario-maestro">
    <div class="ui-grid ui-grid-responsive ui-grid-pad" [(hidden)]="!displayEdicion">
      <h2 class="BigTopic">Edición - {{ tableLabel }}</h2>

      <div *ngFor="let col of columnas">
        <div class="ui-grid-row">
          <div
            class="ui-grid-col-2"
            *ngIf="checkExcludeFieldsForm(col, 'MASTER') && (!formControl.edicionAdd || !col.fieldMetadata.hideInAddOperation)"
          >
            <label class="material-label"
              >{{ col.fieldMetadata.displayInfo.fieldLabel }} <span *ngIf="col.fieldMetadata.id || col.fieldMetadata.notNull">*</span>
            </label>
          </div>
          <div
            class="ui-grid-col-10"
            *ngIf="checkExcludeFieldsForm(col, 'MASTER') && (!formControl.edicionAdd || !col.fieldMetadata.hideInAddOperation)"
          >
            <span [ngClass]="{ 'md-inputfield': col.formFieldType == 'gp-form-text-field' }">
              <gp-form-time-field *ngIf="col.formFieldType == 'gp-form-time-field'" [formField]="col"></gp-form-time-field>
              <gp-form-text-field *ngIf="col.formFieldType == 'gp-form-text-field'" [formField]="col"></gp-form-text-field>
              <gp-form-textarea-field *ngIf="col.formFieldType == 'gp-form-textarea-field'" [formField]="col"></gp-form-textarea-field>
              <gp-form-dropdown-field
                *ngIf="col.formFieldType == 'gp-form-dropdown-field'"
                [formField]="col"
                (valueChanged)="changeEvent($event)"
              ></gp-form-dropdown-field>
              <gp-form-dropdown-related-field
                *ngIf="col.formFieldType == 'gp-form-dropdown-related-field'"
                [formField]="col"
                [relatedField]="fieldChanged"
              ></gp-form-dropdown-related-field>
              <gp-form-switch-field *ngIf="col.formFieldType == 'gp-form-switch-field'" [formField]="col"></gp-form-switch-field>
              <gp-form-checkbox-field *ngIf="col.formFieldType == 'gp-form-checkbox-field'" [formField]="col"></gp-form-checkbox-field>
              <gp-form-calendar-field *ngIf="col.formFieldType == 'gp-form-calendar-field'" [formField]="col"></gp-form-calendar-field>
              <gp-form-wysiwyg-field *ngIf="col.formFieldType == 'gp-form-wysiwyg-field'" [formField]="col"></gp-form-wysiwyg-field>
              <gp-form-img-field *ngIf="col.formFieldType == 'gp-form-img-field'" [formField]="col"></gp-form-img-field>

              <div *ngFor="let msg of col.fieldMsgs" class="msgErrorBottom ui-message ui-messages-error ui-corner-all">{{ msg.detail }}</div>
            </span>
          </div>
        </div>
      </div>

      <div class="ui-grid-row"><div class="ui-grid-col-12">* Campos obligatorios.</div></div>

      <div class="ui-grid-row">
        <div class="ui-grid-col-3" *ngIf="canDelete && selectedRow">
          <button
            type="button"
            label="Borrar"
            pButton
            (click)="onDialogDelete()"
            class="ui-button ui-button-danger ui-widget ui-state-default ui-corner-all ui-button-text-icon-left Wid30 Fs18 White RaisedButton"
            style="width:100%;"
            [(disabled)]="lockFields"
            icon="material-icons ui-icon-delete"
            aria-disabled="false"
          ></button>
        </div>
        <div class="ui-grid-col-3" *ngIf="canEdit || (canAdd && !selectedRow)">
          <button
            type="button"
            label="Guardar"
            pButton
            (click)="onDialogSave()"
            style="width:100%;"
            class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-left Wid30 Fs18 White RaisedButton"
            icon="material-icons ui-icon-done"
            [(disabled)]="lockFields"
            aria-disabled="false"
          ></button>
        </div>
        <div class="ui-grid-col-3">
          <button
            type="button"
            label="Cerrar"
            pButton
            (click)="onDialogClose()"
            style="width:100%;"
            class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-left Wid30 Fs18 White RaisedButton"
            icon="material-icons ui-icon-clear"
            [(disabled)]="lockFields"
            aria-disabled="false"
          ></button>
        </div>
        <div class="ui-grid-col-3" *ngIf="!(canDelete && edicionEdit)"></div>
        <div class="ui-grid-col-3" *ngIf="!canEdit"></div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="workingDetail && activeLoagingDetail">
  <gp-app-loading-indicator [msg]="'Recuperando datos del detalle...'"></gp-app-loading-indicator>
</div>
<div class="ui-g" *ngIf="!workingDetail && activeLoagingDetail && columnasTablaDetail.length > 0">
  <div class="ui-g-6">
    <div class="card card-w-title" *ngIf="!treeTableDetail; else treeTable">
      <p-dataTable
        [value]="elementosDetail"
        selectionMode="single"
        [(selection)]="selectedRowDetail"
        (onRowSelect)="onRowSelectDetail($event)"
        (onRowUnselect)="onRowUnselect($event)"
        [rowStyleClass]="thinline"
        [rows]="cantRows"
        [paginator]="true"
        [resizableColumns]="true"
        [pageLinks]="4"
        [rowsPerPageOptions]="[10, 20, 50]"
        csvSeparator=";"
        exportFilename="table_export"
        #dtDetail
        [immutable]="false"
        [responsive]="true"
      >
        <p-header>
          <div class="ui-helper-clearfix ui-grid-row" style="text-align: left;">
            <div class="ui-grid-col-10">Mantenimiento de tabla {{ tableLabelDetail }}</div>
            <div class="ui-grid-col-2 mantenimientos">
              <button
                *ngIf="canAdd"
                type="button"
                label="Añadir"
                pButton
                (click)="onDialogAddDetail()"
                class="addbutton ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-left White Wid30 Fs18 RaisedButton cyan-btn"
                icon="material-icons ui-icon-add"
                [(disabled)]="lockFields"
                aria-disabled="false"
                pTooltip="Añadir nuevo {{ tableLabelDetail }}"
              ></button>
            </div>
          </div>
        </p-header>
        <div *ngFor="let col of columnasTablaDetail">
          <p-column
            *ngIf="checkExcludeFieldsTable(col, 'MASTER_DETAIL')"
            [field]="col.fieldMetadata.fieldName"
            [header]="col.fieldMetadata.displayInfo.fieldLabel"
            [filter]="true"
            filterMatchMode="contains"
            [styleClass]="col.fieldMetadata.lengthInTable <= 5 ? 'colsmall' : col.fieldMetadata.lengthInTable >= 20 ? 'colbig' : 'colmedium'"
            [sortable]="true"
          >
          </p-column>
        </div>
        <p-footer>
          <div class="ui-g">
            <div class="ui-g-12 ui-md-2 mantenimientos">
              <button
                type="button"
                pButton
                icon="material-icons ui-icon-file-download"
                (click)="dtDetail.exportCSV()"
                label="Exportar a CSV"
                *ngIf="canExport"
                pTooltip="Exportar a CSV el {{ tableLabelDetail }}"
              ></button>
            </div>
          </div>
        </p-footer>
      </p-dataTable>
    </div>

    <!-- @author 3digits -->

    <ng-template #treeTable>
      <div class="card card-w-title">
        <gp-treetable
          #treeTableComponent
          [exclusionsTable]="exclusionsTableDetail"
          [fieldsRq]="fieldsRq"
          [elementosDetail]="elementosDetail"
          [columnasDetail]="columnasDetail"
          [columnasTablaDetail]="columnasTablaDetail"
          [tableLabelDetail]="tableLabelDetail"
          [selectedTree]="selectedTree"
          [lockFields]="lockFields"
          [cantRows]="cantRows"
          (onRowSelect)="onRowSelectDetail($event)"
          (onDialogAddDetail)="onDialogAddDetail()"
        >
        </gp-treetable>
      </div>
    </ng-template>
  </div>

  <div class="ui-g-6">
    <div class="ui-grid ui-grid-responsive ui-grid-pad" [(hidden)]="!displayEdicionDetail">
      <h2 class="BigTopic">Edición - {{ tableLabelDetail }}</h2>

      <div *ngFor="let col of columnasTablaDetail" class="ui-grid-row">
        <div
          class="ui-grid-col-2"
          *ngIf="checkExcludeFieldsForm(col, 'MASTER_DETAIL') && (!formControl.edicionAdd || !col.fieldMetadata.hideInAddOperation)"
        >
          <label class="material-label"
            >{{ col.fieldMetadata.displayInfo.fieldLabel }} <span *ngIf="col.fieldMetadata.id || col.fieldMetadata.notNull">*</span>
          </label>
        </div>
        <div
          class="ui-grid-col-10"
          *ngIf="checkExcludeFieldsForm(col, 'MASTER_DETAIL') && (!formControl.edicionAdd || !col.fieldMetadata.hideInAddOperation)"
        >
          <span [ngClass]="{ 'md-inputfield': col.formFieldType == 'gp-form-text-field' }">
            <gp-form-time-field *ngIf="col.formFieldType == 'gp-form-time-field'" [formField]="col"></gp-form-time-field>
            <gp-form-text-field *ngIf="col.formFieldType == 'gp-form-text-field'" [formField]="col"></gp-form-text-field>
            <gp-form-textarea-field *ngIf="col.formFieldType == 'gp-form-textarea-field'" [formField]="col"></gp-form-textarea-field>
            <gp-form-dropdown-field
              *ngIf="col.formFieldType == 'gp-form-dropdown-field'"
              [formField]="col"
              (valueChanged)="changeEvent($event)"
            ></gp-form-dropdown-field>
            <gp-form-dropdown-dynamic-field
              *ngIf="col.formFieldType == 'gp-form-dropdown-dynamic-field'"
              [formField]="col"
              (valueChanged)="changeEvent($event)"
              [fieldsRq]="fieldsRq"
            ></gp-form-dropdown-dynamic-field>
            <gp-form-dropdown-related-field
              *ngIf="col.formFieldType == 'gp-form-dropdown-related-field'"
              [formField]="col"
              [relatedField]="fieldChanged"
            ></gp-form-dropdown-related-field>
            <gp-form-switch-field *ngIf="col.formFieldType == 'gp-form-switch-field'" [formField]="col"></gp-form-switch-field>
            <gp-form-checkbox-field *ngIf="col.formFieldType == 'gp-form-checkbox-field'" [formField]="col"></gp-form-checkbox-field>
            <gp-form-calendar-field *ngIf="col.formFieldType == 'gp-form-calendar-field'" [formField]="col"></gp-form-calendar-field>
            <gp-form-wysiwyg-field *ngIf="col.formFieldType == 'gp-form-wysiwyg-field'" [formField]="col"></gp-form-wysiwyg-field>
            <gp-form-img-field *ngIf="col.formFieldType == 'gp-form-img-field'" [formField]="col"></gp-form-img-field>

            <div *ngFor="let msg of col.fieldMsgs" class="msgErrorBottom ui-message ui-messages-error ui-corner-all">{{ msg.detail }}</div>
          </span>
        </div>
      </div>

      <div class="ui-grid-row"><div class="ui-grid-col-12">* Campos obligatorios.</div></div>

      <div class="ui-grid-row">
        <div class="ui-grid-col-3" *ngIf="canDelete">
          <button
            type="button"
            label="Borrar"
            pButton
            (click)="onDialogDeleteDetail()"
            class="ui-button ui-button-danger ui-widget ui-state-default ui-corner-all ui-button-text-icon-left Wid30 Fs18 White RaisedButton"
            [(disabled)]="lockFields"
            icon="material-icons ui-icon-delete"
            aria-disabled="false"
          ></button>
        </div>
        <div class="ui-grid-col-3" *ngIf="canEdit || (canAdd && !selectedRow)">
          <button
            type="button"
            label="Guardar"
            pButton
            (click)="onDialogSaveDetail($event)"
            class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-left Wid30 Fs18 White RaisedButton"
            icon="material-icons ui-icon-done"
            [(disabled)]="lockFields"
            aria-disabled="false"
          ></button>
        </div>
        <div class="ui-grid-col-3">
          <button
            type="button"
            label="Cerrar"
            pButton
            (click)="onDialogCloseDetail()"
            class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-left Wid30 Fs18 White RaisedButton"
            icon="material-icons ui-icon-clear"
            [(disabled)]="lockFields"
            aria-disabled="false"
          ></button>
        </div>
        <div class="ui-grid-col-3" *ngIf="!(canDelete && edicionEdit)"></div>
        <div class="ui-grid-col-3" *ngIf="!canEdit"></div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="working"><gp-app-loading-indicator></gp-app-loading-indicator></div>
