body .ui-inputtext {
  font-size: 1.2em;
}

body .formulario-maestro .ui-outputlabel {
  position: relative;
  top: 10px;
}

body .ui-dropdown .ui-dropdown-label.ui-inputtext {
  position: relative;
  top: -2px;
}

.ui-grid-row:after {
  height: 5px;
}

.form-group .ui-grid-row {
  margin-bottom: 10px;
}

body .md-inputfield .ui-message.ui-messages-error {
  margin-left: 5px !important;
  font-size: 1em !important;
}

.msgErrorBottom {
  background-color: transparent;
  border: 0 none;
  margin: 0px;
  color: #e62a10;
  font-size: 1em !important;
}

body .ui-datatable thead th .ui-column-resizer {
  opacity: 0 !important;
}
