<div [class.ui-g-12]="formField.fieldMetadata.displayInfo.translationInfo == null"
     [class.ui-g-10]="formField.fieldMetadata.displayInfo.translationInfo != null && translationKeys != ''"
     class="nopad">
    <input name="__field__{{formField.fieldMetadata.fieldName}}"
           pInputText
           type="text"
           [(ngModel)]="currentValueText"
           [maxlength]="maxLength"
           [class]="textboxClass" class="full-width"
           (change)="onFieldChange()"
           [disabled]="controlDisabled()"/>
</div>
<div class="ui-g-2 nopad" *ngIf="formField.fieldMetadata.displayInfo.translationInfo != null && translationKeys != ''">
    <gp-app-multi-idioma [pKey]="translationKeys"
                         [esquema]="formField.fieldMetadata.displayInfo.translationInfo.scheme"
                         [tabla]="formField.fieldMetadata.displayInfo.translationInfo.table"
                         [campo]="formField.fieldMetadata.displayInfo.translationInfo.field"
                         [campoDescripcion]="formField.fieldMetadata.displayInfo.translationInfo.description"
                         [habilitarEdicionHTML]="formField.fieldMetadata.displayInfo.translationInfo.allowHtmlEdition"
                         [orderByLangCod]="formField.fieldMetadata.displayInfo.translationInfo.orderByLangCod"
                         class="full-width">
    </gp-app-multi-idioma>
</div>
