<p-dropdown *ngIf="visible"
  name="__field__{{ formField.fieldMetadata.fieldName }}"
  [options]="listAllowedValuesOptions"
  [(ngModel)]="_currentValueDropDown"
  [autoWidth]="false"
  filter="true"
  dropdownIcon="material-icons ui-icon-expand-more"
  resetFilterOnHide="true"
  (onChange)="onFieldChange()"
  [disabled]="controlDisabled()"
  [ngClass]="{ 'ng-dirty ng-invalid': formField.fieldMsgs != null && formField.fieldMsgs.length > 0 }"
  class="ui-inputfield ui-selectonemenu-label"
>
</p-dropdown>
