<div [class.ui-g-12]="formField.fieldMetadata.displayInfo.translationInfo == null"
     [class.ui-g-10]="formField.fieldMetadata.displayInfo.translationInfo != null && translationKeys != ''">
    <input name="__field__{{formField.fieldMetadata.fieldName}}"
           pInputText
           type="text"
           [(ngModel)]="currentValueText"
           [maxlength]="maxLength"
           [ngClass]="{'textboxClass': (formField.fieldMsgs == null || formField.fieldMsgs.length == 0), 'textboxClass ng-dirty ng-invalid': (formField.fieldMsgs != null && formField.fieldMsgs.length > 0) }"
           (change)="onFieldChange()"
           [disabled]="controlDisabled()" />
</div>
<div class="ui-g-2" *ngIf="formField.fieldMetadata.displayInfo.translationInfo != null && translationKeys != ''">
    <gp-app-multi-idioma [pKey]="translationKeys"
                         [esquema]="formField.fieldMetadata.displayInfo.translationInfo.scheme"
                         [tabla]="formField.fieldMetadata.displayInfo.translationInfo.table"
                         [campo]="formField.fieldMetadata.displayInfo.translationInfo.field"
                         [campoDescripcion]="formField.fieldMetadata.displayInfo.translationInfo.description"
                         [habilitarEdicionHTML]= "formField.fieldMetadata.displayInfo.translationInfo.allowEdition"
                         [orderByLangCod]="formField.fieldMetadata.displayInfo.translationInfo.orderByLangCod">
    </gp-app-multi-idioma>
</div>
