<p-growl [value]="msgsDialog" [sticky]="true"></p-growl>
<div class="ui-g" *ngIf="!working && columnas.length > 0">
  <div class="ui-g-6">
    <div class="card card-w-title">
      <p-table #dt
               [columns]="columnasTabla" [value]="elementos"
               selectionMode="single"
               [(selection)]="selectedRow"
               (onRowSelect)="onRowSelect()"
               (onRowUnselect)="closeDialog()"
               [rows]="10" [paginator]="true" [pageLinks]="4"
               [rowsPerPageOptions]="[10,20,50]" csvSeparator=";"
               [exportFilename]="'table_export'"
               [responsive]="true">
        <ng-template pTemplate="caption">
          <div class="ui-g" style="text-align: left;">
            <div class="ui-g-10">Mantenimiento de tabla {{tableLabel}}</div>
            <div class="ui-g-2">
              <button
                label="Añadir"
                (click)="onDialogAdd()"
                class="ui-button-raised full-width cyan-btn"
                icon="pi pi-plus"
                [disabled]="formControl.lockFields"
                *ngIf="canAdd">
              </button>

            </div>
          </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th *ngFor="let col of columns">
              {{col.fieldMetadata.displayInfo.fieldLabel}}
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns" >
          <tr [pSelectableRow]="rowData">
            <td *ngFor="let col of columns">
              {{rowData[col.fieldMetadata.fieldName]}}
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
  <div class="ui-g-6">
    <div class="ui-g-12" [hidden]="!displayEdicion">
      <div class="ui-g-12 nopad">
        <h2 class="BigTopic">Edición - {{tableLabel}}</h2>
      </div>
      <div *ngFor="let col of columnas" class="ui-g-12 nopad">
        <div *ngFor="let msg of col.fieldMsgs" class="ui-messages-error">
          <i class="fa fa-close"></i>&nbsp;{{msg.detail}}
        </div>
        <div class="ui-g-2" *ngIf="!formControl.edicionAdd || !col.fieldMetadata.hideInAddOperation">
          <label class="material-label">{{col.fieldMetadata.displayInfo.fieldLabel}} <span
            *ngIf="col.fieldMetadata.id || col.fieldMetadata.notNull">*</span></label>
        </div>
        <div class="ui-g-10" *ngIf="!formControl.edicionAdd || !col.fieldMetadata.hideInAddOperation">
          <gp-form-time-field
            *ngIf="col.formFieldType == 'gp-form-time-field'"
            [formField]="col"></gp-form-time-field>
          <gp-form-text-field
            *ngIf="col.formFieldType == 'gp-form-text-field'"
            [formField]="col"></gp-form-text-field>
          <gp-form-textarea-field
            *ngIf="col.formFieldType == 'gp-form-textarea-field'"
            [formField]="col"></gp-form-textarea-field>
          <gp-form-dropdown-field
            *ngIf="col.formFieldType == 'gp-form-dropdown-field'"
            [formField]="col" (valueChanged)="changeEvent($event)"></gp-form-dropdown-field>
          <gp-form-dropdown-related-field
            *ngIf="col.formFieldType == 'gp-form-dropdown-related-field'"
            [formField]="col"
            [relatedField]="fieldChanged"></gp-form-dropdown-related-field>
          <gp-form-switch-field
            *ngIf="col.formFieldType == 'gp-form-switch-field'"
            [formField]="col"></gp-form-switch-field>
          <gp-form-checkbox-field
            *ngIf="col.formFieldType == 'gp-form-checkbox-field'"
            [formField]="col"></gp-form-checkbox-field>
          <gp-form-calendar-field
            *ngIf="col.formFieldType == 'gp-form-calendar-field'"
            [formField]="col"></gp-form-calendar-field>
          <gp-form-wysiwyg-field
            *ngIf="col.formFieldType == 'gp-form-wysiwyg-field'"
            [formField]="col"></gp-form-wysiwyg-field>
          <gp-form-img-field
            *ngIf="col.formFieldType == 'gp-form-img-field'"
            [formField]="col"></gp-form-img-field>
        </div>
      </div>
      <div class="ui-g-12 nopad">
        <div class="ui-g-12">
          * Campos obligatorios.
        </div>
      </div>

      <div class="ui-g-12 nopad">
        <div class="ui-g-3" *ngIf="canDelete && selectedRow">
          <button
            label="Borrar"
            (click)="onDialogDelete()"
            class="ui-button-raised full-width ui-button-danger"
            icon="pi pi-trash"
            [disabled]="formControl.lockFields">
          </button>
        </div>
        <div class="ui-g-3" *ngIf="canEdit || (canAdd && !selectedRow)">
          <button
            label="Guardar"
            (click)="onDialogSave()"
            class="ui-button-raised full-width"
            icon="pi pi-check"
            [disabled]="formControl.lockFields">
          </button>
        </div>
        <div class="ui-g-3">
          <button
            label="Cerrar"
            (click)="closeDialog()"
            class="ui-button-raised full-width"
            icon="pi pi-times"
            [disabled]="formControl.lockFields">
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="working">
  <gp-loading-indicator></gp-loading-indicator>
</div>
