<section>
    <h1>TESTER</h1>
    <ul>
        <li>
            <app-dynamic-tester></app-dynamic-tester>
        </li>
        <li>
            <app-loading-indicator-tester></app-loading-indicator-tester>
        </li>
        <li>
            <app-main-menu-tester></app-main-menu-tester>
        </li>
        <li>
            <app-multi-idioma-tester></app-multi-idioma-tester>
        </li>
        <li>
            <app-login-tester></app-login-tester>
        </li>
        <li>
            <app-rating-tester></app-rating-tester>
        </li>
        <li>
            <app-multi-select-tester></app-multi-select-tester>
        </li>
    </ul>
</section>
