<section>
  <h1>TESTER</h1>
  <ul>
    <li>
      <a routerLink="/dynamic-tester">Dynamic Tester</a>
    </li>
    <li>
      <a routerLink="/loading-indicator-tester">Loading Indicator Tester</a>
    </li>
    <li>
      <a routerLink="/main-menu-tester">Main Menu Tester</a>
    </li>
    <li>
      <a routerLink="/multi-idioma-tester">Multi Language Tester</a>
    </li>
    <li>
      <a routerLink="/login">Login Tester</a>
    </li>
    <li>
      <a routerLink="/rating-tester">Rating Tester</a>
    </li>
    <li>
      <a routerLink="/multi-select-tester">Multi-select Tester</a>
    </li>
    <li>
      <a routerLink="/table-frame-tester">Table Frame Tester</a>
    </li>
    <li>
      <a routerLink="/forgot-password">Forgot Password Tester</a>
    </li>
    <li>
      <a routerLink="/topbar-tester">Top Bar Tester</a>
    </li>
    <li>
      <a routerLink="/dropdown-tester">Dropdown</a>
    </li>
  </ul>
</section>
