<section>
  <h1>Tester Lib</h1>
  <ul>
    <li>
      <a routerLink="/dynamic-tester">Dynamic</a>&nbsp;UT <i class="pi pi-times red"></i>Styles<i
        class="pi pi-check green"
      ></i>
    </li>
    <li>
      <a routerLink="/loading-indicator-tester">Loading Indicator</a>&nbsp;UT
      <i class="pi pi-check green"></i>Styles<i class="pi pi-check green"></i>
    </li>
    <li>
      <a routerLink="/main-menu-tester">Main Menu</a>&nbsp;UT
      <i class="pi pi-check green"></i>Styles<i class="pi pi-times red"></i>
    </li>
    <li>
      <a routerLink="/multi-language-tester">Multi Language</a>&nbsp;UT
      <i class="pi pi-times red"></i>Styles<i class="pi pi-check green"></i>
    </li>
    <li>
      <a routerLink="/login">Login</a>&nbsp;UT <i class="pi pi-check green"></i>Styles<i
        class="pi pi-check green"
      ></i>
    </li>
    <li>
      <a routerLink="/rating-tester">Rating</a>&nbsp;UT <i class="pi pi-check green"></i>Styles<i
        class="pi pi-check green"
      ></i>
    </li>
    <li>
      <a routerLink="/multi-select-tester">Multi-select</a>&nbsp;UT
      <i class="pi pi-check green"></i>Styles<i class="pi pi-check green"></i>
    </li>
    <li>
      <a routerLink="/table-crud-tester">Table CRUD</a>&nbsp;UT
      <i class="pi pi-check green"></i>Styles<i class="pi pi-times red"></i>
    </li>
    <li>
      <a routerLink="/table-frame-tester">Table Frame</a>&nbsp;UT
      <i class="pi pi-check green"></i>Styles<i class="pi pi-times red"></i>
    </li>
    <li>
      <a routerLink="/forgot-password">Forgot Password</a>&nbsp;UT
      <i class="pi pi-check green"></i>Styles<i class="pi pi-check green"></i>
    </li>
    <li>
      <a routerLink="/topbar-tester">Top Bar</a>&nbsp;UT <i class="pi pi-check green"></i>Styles<i
        class="pi pi-check green"
      ></i>
    </li>
    <li>
      <a routerLink="/dropdown-tester">Dropdown</a>&nbsp;UT
      <i class="pi pi-check green"></i>Styles<i class="pi pi-check green"></i>
    </li>
    <li>
      <a routerLink="/dropdown-related-tester">Dropdown Related</a>&nbsp;UT
      <i class="pi pi-check green"></i>Styles<i class="pi pi-check green"></i>
    </li>
    <li>
      <a routerLink="/checkbox-tester">Checkbox Field</a>&nbsp;UT
      <i class="pi pi-check green"></i>Styles<i class="pi pi-check green"></i>
    </li>
    <li>
      <a routerLink="/textarea-field-tester">Textarea</a>&nbsp;UT
      <i class="pi pi-check green"></i>Styles<i class="pi pi-check green"></i>
    </li>
    <li>
      <a routerLink="/text-field-tester">Text</a>&nbsp;UT <i class="pi pi-check green"></i>Styles<i
        class="pi pi-check green"
      ></i>
    </li>
    <li>
      <a routerLink="/time-field-tester">Time</a>&nbsp;UT <i class="pi pi-check green"></i>Styles<i
        class="pi pi-check green"
      ></i>
    </li>
    <li>
      <a routerLink="/img-tester">Image</a>&nbsp;UT <i class="pi pi-check green"></i>Styles<i
        class="pi pi-times red"
      ></i>
    </li>
    <li>
      <a routerLink="/switch-tester">Switch</a>&nbsp;UT <i class="pi pi-check green"></i>Styles<i
        class="pi pi-check green"
      ></i>
    </li>
    <li>
      <a routerLink="/wysiwyg-tester">Wysiwyg</a>&nbsp;UT <i class="pi pi-check green"></i>Styles<i
        class="pi pi-times red"
      ></i>
    </li>
    <li>
      <a routerLink="/calendar-tester">Calendar</a>&nbsp;UT
      <i class="pi pi-check green"></i>Styles<i class="pi pi-check green"></i>
    </li>
  </ul>
</section>
