<div [class.ui-g-12]="columnMetadata.translationInfo == null"
     [class.ui-g-10]="columnMetadata.translationInfo != null && translationKeys != ''"
     class="nopad">
    <input [name]="columnMetadata.name"
           pInputText
           type="text"
           [ngModel]="value"
           (ngModelChange)="textToUppercase($event); onStop($event)"
           [maxlength]="columnMetadata.max"
           [minlength]="columnMetadata.min"
           [class]="textboxClass"
           [required]="columnMetadata.required"
           (focus)="onFocus($event)"
           (change)="onStop($event.target.value)"
           [disabled]="!isEditable"/>
</div>
<div class="ui-g-2 nopad" *ngIf="columnMetadata.translationInfo != null && translationKeys != ''">
    <gp-app-multi-idioma [pKey]="translationKeys"
                         [esquema]="columnMetadata.translationInfo.scheme"
                         [tabla]="columnMetadata.translationInfo.table"
                         [campo]="columnMetadata.translationInfo.field"
                         [campoDescripcion]="columnMetadata.translationInfo.description"
                         [habilitarEdicionHTML]="columnMetadata.translationInfo.allowEdition"
                         [orderByLangCod]="columnMetadata.translationInfo.orderByLangCod">
    </gp-app-multi-idioma>
</div>
