<p-dialog [(visible)]="visible"
          [modal]="true"
          (onHide)="onStopCancel()">
    <img [src]="value" style="width: 100%; max-height: 50%;" *ngIf="value"/>
    <input [name]="columnMetadata.name"
           pInputText
           type="text"
           [ngModel]="value"
           (ngModelChange)="textToUppercase($event)"
           [maxlength]="columnMetadata.max"
           [minlength]="columnMetadata.min"
           [class]="textboxClass"
           [disabled]="!isEditable"
           class="full-width"/>
  <button label="Aceptar" (click)="onStop()">Aceptar</button>
  <button label="Cancelar" (click)="onStopCancel()">Cancelar</button>
</p-dialog>

<button (click)="onStart()">Abrir</button>
