<p-growl [value]="alerts"></p-growl>
<div class="loginbodyblue">
    <div class="card login-panel ui-fluid">
        <div class="ui-g">
            <div class="ui-g-12">
                <h1>Modificar Password</h1>
            </div>
            <div class="ui-g-12">
                <span class="md-inputfield">
                    <input type="text" pInputText autocomplete="off" [(ngModel)]="usuario" (keyup.enter)="modifica()" gp-uppercase>
                    <label>Usuario</label>
                </span>
            </div>
            <div class="ui-g-12">
                <span class="md-inputfield">
                    <input type="text" pInputText autocomplete="off" [(ngModel)]="passwordOld" (keyup.enter)="modifica()">
                    <label>Password Antigua</label>
                </span>
            </div>
            <div class="ui-g-12">
                <span class="md-inputfield">
                    <input type="text" pInputText autocomplete="off" [(ngModel)]="passwordNew" (keyup.enter)="modifica()">
                    <label>Password Nueva</label>
                </span>
            </div>
            <div class="ui-g-12">
                <span class="md-inputfield">
                    <input type="text" pInputText autocomplete="off" [(ngModel)]="passwordNew2" (keyup.enter)="modifica()">
                    <label>Repite Password Nueva</label>
                </span>
            </div>
            <div class="ui-g-12">
                <button type="button" pButton label="Modifica Password" icon="ui-icon-send" (click)="modifica()"></button>
            </div>

            <p-messages [(value)]="msgs"></p-messages>
        </div>
    </div>
</div>