<input type="text"
       *ngIf="column && isFilter"
       [ngModel]="value"
       (ngModelChange)="(isFilter)? value = $event : null"
       (focus)="onStartEditing()"
       (blur)="onStopEditing()"
       (change)="(!isFilter)? onModelChange(input.value) : null"
       #input
>
<div class="nopad"
     *ngIf="column && !isFilter"
     [ngSwitch]="columnMetadata.type">
    <gp-form-text-field-with-column *ngSwitchCase="inputType.TEXT_FIELD"
                                    (startEditingField)="onStartEditing()"
                                    (stopEditingField)="onStopEditing()"
                                    [columnMetadata]="columnMetadata"
                                    [(ngModel)]="value[columnMetadata.name]">
    </gp-form-text-field-with-column>
    <gp-form-textarea-field-with-column *ngSwitchCase="inputType.TEXTAREA_FIELD"
                                        (startEditingField)="onStartEditing()"
                                        (stopEditingField)="onStopEditing()"
                                        [columnMetadata]="columnMetadata"
                                        [(ngModel)]="value[columnMetadata.name]">
    </gp-form-textarea-field-with-column>
    <gp-form-checkbox-field-with-column *ngSwitchCase="inputType.CHECKBOX_FIELD"
                                        (startEditingField)="onStartEditing()"
                                        (stopEditingField)="onStopEditing()"
                                        [columnMetadata]="columnMetadata"
                                        [(ngModel)]="value[columnMetadata.name]">
    </gp-form-checkbox-field-with-column>
    <gp-form-switch-field-with-column *ngSwitchCase="inputType.SWITCH_FIELD"
                                      (startEditingField)="onStartEditing()"
                                      (stopEditingField)="onStopEditing()"
                                      [columnMetadata]="columnMetadata"
                                      [(ngModel)]="value[columnMetadata.name]">
    </gp-form-switch-field-with-column>
    <gp-form-img-field-with-column *ngSwitchCase="inputType.IMG_FIELD"
                                   (startEditingField)="onStartEditing()"
                                   (stopEditingField)="onStopEditing()"
                                   [columnMetadata]="columnMetadata"
                                   [(ngModel)]="value[columnMetadata.name]">
    </gp-form-img-field-with-column>
    <gp-form-wysiwyg-field-with-column *ngSwitchCase="inputType.WYSIWYG_FIELD"
                                       (startEditingField)="onStartEditing()"
                                       (stopEditingField)="onStopEditing()"
                                       [columnMetadata]="columnMetadata"
                                       [(ngModel)]="value[columnMetadata.name]">
    </gp-form-wysiwyg-field-with-column>
    <gp-form-time-field-with-column *ngSwitchCase="inputType.TIME_FIELD"
                                    (startEditingField)="onStartEditing()"
                                    (stopEditingField)="onStopEditing()"
                                    [columnMetadata]="columnMetadata"
                                    [(ngModel)]="value[columnMetadata.name]">
    </gp-form-time-field-with-column>
    <gp-form-calendar-field-with-column *ngSwitchCase="inputType.CALENDAR_FIELD"
                                        (startEditingField)="onStartEditing()"
                                        (stopEditingField)="onStopEditing()"
                                        [columnMetadata]="columnMetadata"
                                        [(ngModel)]="value[columnMetadata.name]">
    </gp-form-calendar-field-with-column>
</div>
