body {
  background-color: white;
  font-family: "Open Sans", sans-serif;
}

.logo-gp {
  width: 55%; 
  margin: 0 auto; 
  background-size:cover;
  background-position: top right;
  opacity: 0;
  height: 400px;
  -webkit-animation: on .6s ease-in-out 3.7s forwards;
  -moz-animation: on .6s ease-in-out 3.7s forwards;
  -o-animation: on .6s ease-in-out 3.7s forwards;
  animation: on .6s ease-in-out 3.7s forwards;
}

.splash {
  width: 100vw;
  height: 180vh;
  left: 120px;
  position: fixed;
  top: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}
.splash_logo {
  position: absolute;
  margin: -15px 0 0 -80px;
  top: 47vh;
  z-index: 5;
  left: 50vw;
  width: 100px;
  text-align: center;
  height: 40px;
  font-size: 55px;
  color: #ffffff;
  opacity: 1;
  will-change: opacity;
  -webkit-animation: logo .3s ease-in 1.5s forwards, off .6s ease-in-out 3.2s forwards;
  -moz-animation: logo .3s ease-in 1.5s forwards, off .6s ease-in-out 3.2s forwards;
  -o-animation: logo .3s ease-in 1.5s forwards, off .6s ease-in-out 3.2s forwards;
  animation: logo .3s ease-in 1.5s forwards, off .6s ease-in-out 3.2s forwards;
}

.splash_svg {
  position: relative;
  margin: auto;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  bottom: 0;
  right: 0;
}
.splash_svg svg {
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
.splash_svg svg rect {
  width: 100%;
  height: 100%;
  fill: white;
  stroke: 0;
  -webkit-clip-path: polygon(40vw 35vh, 60vw 35vh, 60vw 65vh, 40vw 65vh);
  clip-path: polygon(40vw 35vh, 60vw 35vh, 60vw 65vh, 40vw 65vh);
  -webkit-animation: expand .7s ease-in forwards 2.7s;
  -moz-animation: expand .7s ease-in forwards 2.7s;
  -o-animation: expand .7s ease-in forwards 2.7s;
  animation: expand .7s ease-in forwards 2.7s;
}
.splash_minimize {
  position: absolute;
  margin: auto;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 4;
}
.splash_minimize svg {
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
.splash_minimize svg rect {
  width: 100%;
  height: 100%;
  -webkit-clip-path: polygon(0vw 0vh, 100vw 0vh, 100vw 100vh, 0vw 100vh);
  clip-path: polygon(0vw 0vh, 100vw 0vh, 100vw 100vh, 0vw 100vh);
  -webkit-animation: scale .2s ease-out forwards 1s, hide 1.3s ease-out forwards 1.2s;
  -moz-animation: scale .2s ease-out forwards 1s, hide 1.3s ease-out forwards 1.2s;
  -o-animation: scale .2s ease-out forwards 1s, hide 1.3s ease-out forwards 1.2s;
  animation: scale .2s ease-out forwards 1s, hide 1.3s ease-out forwards 1.2s;
}

@-webkit-keyframes scale {
  100% {
    -webkit-clip-path: polygon(40vw 35vh, 60vw 35vh, 60vw 65vh, 40vw 65vh);
    clip-path: polygon(40vw 35vh, 60vw 35vh, 60vw 65vh, 40vw 65vh);
  }
}
@-moz-keyframes scale {
  100% {
    -webkit-clip-path: polygon(40vw 35vh, 60vw 35vh, 60vw 65vh, 40vw 65vh);
    clip-path: polygon(40vw 35vh, 60vw 35vh, 60vw 65vh, 40vw 65vh);
  }
}
@-o-keyframes scale {
  100% {
    -webkit-clip-path: polygon(40vw 35vh, 60vw 35vh, 60vw 65vh, 40vw 65vh);
    clip-path: polygon(40vw 35vh, 60vw 35vh, 60vw 65vh, 40vw 65vh);
  }
}
@keyframes scale {
  100% {
    -webkit-clip-path: polygon(40vw 35vh, 60vw 35vh, 60vw 65vh, 40vw 65vh);
    clip-path: polygon(40vw 35vh, 60vw 35vh, 60vw 65vh, 40vw 65vh);
  }
}
@-webkit-keyframes hide {
  100% {
    fill: transparent;
  }
}
@-moz-keyframes hide {
  100% {
    fill: transparent;
  }
}
@-o-keyframes hide {
  100% {
    fill: transparent;
  }
}
@keyframes hide {
  100% {
    fill: transparent;
  }
}
@-webkit-keyframes off {
  100% {
    opacity: 0;
  }
}
@-moz-keyframes off {
  100% {
    opacity: 0;
  }
}
@-o-keyframes off {
  100% {
    opacity: 0;
  }
}
@keyframes off {
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes on {
  100% {
    opacity: 1;
  }
}
@-moz-keyframes on {
  100% {
    opacity: 1;
  }
}
@-o-keyframes on {
  100% {
    opacity: 1;
  }
}
@keyframes on {
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes type {
  0% {
    width: 0;
  }
}
@-moz-keyframes type {
  0% {
    width: 0;
  }
}
@-o-keyframes type {
  0% {
    width: 0;
  }
}
@keyframes type {
  0% {
    width: 0;
  }
}
@-webkit-keyframes type2 {
  0% {
    width: 0;
  }
  50% {
    width: 0;
  }
  100% {
    width: 100;
  }
}
@-moz-keyframes type2 {
  0% {
    width: 0;
  }
  50% {
    width: 0;
  }
  100% {
    width: 100;
  }
}
@-o-keyframes type2 {
  0% {
    width: 0;
  }
  50% {
    width: 0;
  }
  100% {
    width: 100;
  }
}
@keyframes type2 {
  0% {
    width: 0;
  }
  50% {
    width: 0;
  }
  100% {
    width: 100;
  }
}
@-webkit-keyframes expand {
  25% {
    -webkit-clip-path: polygon(0vw 0vh, 60vw 35vh, 60vw 65vh, 40vw 65vh);
    clip-path: polygon(0vw 0vh, 60vw 35vh, 60vw 65vh, 40vw 65vh);
    fill: white;
  }
  50% {
    -webkit-clip-path: polygon(0vw 0vh, 100vw 0vh, 60vw 65vh, 40vw 65vh);
    clip-path: polygon(0vw 0vh, 100vw 0vh, 60vw 65vh, 40vw 65vh);
    fill: white;
  }
  75% {
    -webkit-clip-path: polygon(0vw 0vh, 100vw 0vh, 60vw 65vh, 0vw 100vh);
    clip-path: polygon(0vw 0vh, 100vw 0vh, 60vw 65vh, 0vw 100vh);
    fill: white;
  }
  100% {
    -webkit-clip-path: polygon(0vw 0vh, 100vw 0vh, 100vw 100vh, 0vw 100vh);
    clip-path: polygon(0vw 0vh, 100vw 0vh, 100vw 100vh, 0vw 100vh);
    fill: white;
  }
}
@-moz-keyframes expand {
  25% {
    -webkit-clip-path: polygon(0vw 0vh, 60vw 35vh, 60vw 65vh, 40vw 65vh);
    clip-path: polygon(0vw 0vh, 60vw 35vh, 60vw 65vh, 40vw 65vh);
    fill: white;
  }
  50% {
    -webkit-clip-path: polygon(0vw 0vh, 100vw 0vh, 60vw 65vh, 40vw 65vh);
    clip-path: polygon(0vw 0vh, 100vw 0vh, 60vw 65vh, 40vw 65vh);
    fill: white;
  }
  75% {
    -webkit-clip-path: polygon(0vw 0vh, 100vw 0vh, 60vw 65vh, 0vw 100vh);
    clip-path: polygon(0vw 0vh, 100vw 0vh, 60vw 65vh, 0vw 100vh);
    fill: white;
  }
  100% {
    -webkit-clip-path: polygon(0vw 0vh, 100vw 0vh, 100vw 100vh, 0vw 100vh);
    clip-path: polygon(0vw 0vh, 100vw 0vh, 100vw 100vh, 0vw 100vh);
    fill: white;
  }
}
@-o-keyframes expand {
  25% {
    -webkit-clip-path: polygon(0vw 0vh, 60vw 35vh, 60vw 65vh, 40vw 65vh);
    clip-path: polygon(0vw 0vh, 60vw 35vh, 60vw 65vh, 40vw 65vh);
    fill: white;
  }
  50% {
    -webkit-clip-path: polygon(0vw 0vh, 100vw 0vh, 60vw 65vh, 40vw 65vh);
    clip-path: polygon(0vw 0vh, 100vw 0vh, 60vw 65vh, 40vw 65vh);
    fill: white;
  }
  75% {
    -webkit-clip-path: polygon(0vw 0vh, 100vw 0vh, 60vw 65vh, 0vw 100vh);
    clip-path: polygon(0vw 0vh, 100vw 0vh, 60vw 65vh, 0vw 100vh);
    fill: white;
  }
  100% {
    -webkit-clip-path: polygon(0vw 0vh, 100vw 0vh, 100vw 100vh, 0vw 100vh);
    clip-path: polygon(0vw 0vh, 100vw 0vh, 100vw 100vh, 0vw 100vh);
    fill: white;
  }
}
@keyframes expand {
  25% {
    -webkit-clip-path: polygon(0vw 0vh, 60vw 35vh, 60vw 65vh, 40vw 65vh);
    clip-path: polygon(0vw 0vh, 60vw 35vh, 60vw 65vh, 40vw 65vh);
    fill: white;
  }
  50% {
    -webkit-clip-path: polygon(0vw 0vh, 100vw 0vh, 60vw 65vh, 40vw 65vh);
    clip-path: polygon(0vw 0vh, 100vw 0vh, 60vw 65vh, 40vw 65vh);
    fill: white;
  }
  75% {
    -webkit-clip-path: polygon(0vw 0vh, 100vw 0vh, 60vw 65vh, 0vw 100vh);
    clip-path: polygon(0vw 0vh, 100vw 0vh, 60vw 65vh, 0vw 100vh);
    fill: white;
  }
  100% {
    -webkit-clip-path: polygon(0vw 0vh, 100vw 0vh, 100vw 100vh, 0vw 100vh);
    clip-path: polygon(0vw 0vh, 100vw 0vh, 100vw 100vh, 0vw 100vh);
    fill: white;
  }
}


@media only screen and (max-width: 1300px) {
  .logo-gp {
    width: 80%; 
  }

  .splash_logo {
    margin: -15px 0 0 -50px;
    font-size: 37px;
  }

  .splash_logo .management {
    right: 78px !important; 
  }
}