<div id="main-menu" class="layout-menu">
  <p-scrollPanel #scrollPanel [style]="{height: '100%'}">
    <ul root="true" class="ultima-menu ultima-main-menu clearfix">
      <li role="menuitem" *ngFor="let item1 of menuItems | async">
        <a href="#" *ngIf="item1.action!=null && item1.enabled" [routerLink]="[item1.action]">
          <i class="material-icons">{{item1.icon}}</i> 
          <span>{{item1.texto}}</span>
        </a>
        <a href="#" class="ripplelink" *ngIf="item1.action==null && item1.enabled">
          <i class="material-icons">{{item1.icon}}</i>
          <span>{{item1.texto}}</span>
          <i class="material-icons">keyboard_arrow_down</i>
        </a>
        <ul role="menu" *ngIf="item1.submenus!=null && item1.enabled" style="display: none;">
          <li role="menuitem" *ngFor="let item2 of item1.submenus">
            <a href="#" class="rippleLink" *ngIf="item2.action==null && item2.enabled">
              <i class="material-icons">{{item2.icon}}</i>
              <span>{{item2.texto}}</span>
              <i class="material-icons">keyboard_arrow_down</i>
            </a>
            <a href="#" class="rippleLink" *ngIf="item2.action!=null && item2.enabled" 
               [routerLink]="[item2.action]">
              <i class="material-icons">{{item2.icon}}</i>
              <span>{{item2.texto}}</span>
            </a>
            <ul role="menu" *ngIf="item2.submenus!=null && item2.enabled" style="display: none;">
              <li role="menuitem" *ngFor="let item3 of item2.submenus">
                <a href="#" class="rippleLink" *ngIf="item3.action==null && item3.enabled">
                  <i class="material-icons">{{item3.icon}}</i>
                  <span>{{item3.texto}}</span>
                  <i class="material-icons">keyboard_arrow_down</i>
                </a>
                <a href="#" class="rippleLink" *ngIf="item3.action!=null && item3.enabled" 
                  [routerLink]="[item3.action]">
                  <i class="material-icons">{{item3.icon}}</i>
                  <span>{{item3.texto}}</span>
                </a>
                <ul role="menu" *ngIf="item3.submenus!=null && item3.enabled" style="display: none;">
                  <li role="menuitem" *ngFor="let item4 of item3.submenus">
                    <a href="#" class="rippleLink" *ngIf="item4.action==null && item4.enabled">
                      <i class="material-icons">{{item4.icon}}</i>
                      <span>{{item4.texto}}</span>
                      <i class="material-icons">keyboard_arrow_down</i>
                    </a>
                    <a href="#" class="rippleLink" *ngIf="item4.action!=null && item4.enabled" 
                      [routerLink]="[item4.action]">
                      <i class="material-icons">{{item4.icon}}</i>
                      <span>{{item4.texto}}</span>
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </p-scrollPanel>
</div>

<!-- @autor: 3digits-->
<div id="bienvenida" class="layout-main" style="margin-left: 235px;">
  
  <div class="splash">
    <div class="splash_logo" style="color: #3F51B5">
       𝐘𝐈𝐄𝐋𝐃 
       <div class="management" style="margin-top: 50px;width: 100%;position: relative;right: 110px;">𝐌𝐀𝐍𝐀𝐆𝐄𝐌𝐄𝐍𝐓</div>
    </div>
    <div class="splash_svg">
      <svg width="100%" height="100%">
        <rect style="fill: white;" width="100%" height="100%" />
      </svg>
    </div>
    <div class="splash_minimize">
      <svg width="100%" height="100%">
        <rect style="fill: white;" width="100%" height="100%" />
      </svg>
    </div>
  </div>
    
  <div class="logo-gp" style="margin-top: 150px;">
  </div>
    
</div>