<div class="topbar clearfix">
    <div class="topbar-left">
    </div>
    <div class="topbar-right">
        <a id="menu-button" href="#" [hidden]="!logged">
            <i></i>
        </a>
        <a id="topbar-menu-button" (click)="toggleUserMenu()" [hidden]="!logged">
            <i class="material-icons">account_circle</i>
        </a>
        <div class="application-info" [hidden]="!appInfo">
            <div>{{appInfo}}</div>
        </div>
        <ul class="topbar-items fadeInDown animated" [hidden]="!logged">
            <li class="profile-item">
                <a (click)="toggleUserMenu()" [hidden]="!logged">
                    <i class="topbar-icon material-icons">account_circle</i>
                    <span class="topbar-item-name">Logged User</span>
                </a>
            </li>
            <li class="application-title">
                <span *ngIf="logged" [innerHtml]="fullName"></span>
            </li>
        </ul>
    </div>
    <div style="float: right;">
        <p-menu #logout [model]="itemsUserMenu" [hidden]="!userMenuVisible"></p-menu>
    </div>
</div>